/* ANCHOR: mis archivos css */
@import './global.css';
@import './colors.css';
@import './layout.css';
@import './header.css';
@import './sidebar.css';
@import './modal.css';
@import './form.css';
@import './footer.css';