:root {
    --background-main: #1e1e1e;
    --background-panel: #252526;
    --background-card: #2d2d2d;
    --background-active: rgba(0, 122, 204, 0.2);
    --background-hover: rgba(255, 255, 255, 0.11);

    --text-primary-color: #f5f5f5;
    --text-secondary-color: #9e9e9e;

    --green: #98C379;
    --red: #f44747;
    --yellow: #E5C07B;
    --purple: #C678DD;
    --light-blue: #007ACC;
    --gray: #252526;

    --border-color: #9e9e9e24;
}