:root {
    --background-main: #1e1e1e;
    --background-panel: #252526;
    --background-card: #2d2d2d;

    --text-primary-color: #d4d4d4;
    --text-secondary-color: #9e9e9e;

    --green: #98C379;
    --red: #f44747;
    --yellow: #E5C07B;
    --purple: #C678DD;

    --border: #3c3c3c;
}