.form-style {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 5px;
}

.form-input-style {
    background-color: var(--background-card);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 12px;
    height: 35px;
    padding: 5px;
}

.label-text {
    margin-top: 10px;
    font-size: 12px;
}