* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text-primary-color);
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

body {
    background-color: var(--background-main);
}

main {
    min-height: 80vh;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.space-5 {
    margin-top: 5px;
}

.space-10 {
    margin-top: 10px;
}

.space-20 {
    margin-top: 20px;
}

.space-30 {
    margin-top: 30px;
}

.center {
    text-align: center;
}