* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text-primary-color);
    font-family: "Source Code Pro", monospace;
    font-size: 16px;
}

body {
    background-color: var(--background-main);
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.space-5 {
    margin-top: 5px;
}

.space-10 {
    margin-top: 10px;
}

.space-20 {
    margin-top: 20px;
}

.space-30 {
    margin-top: 30px;
}

.center {
    text-align: center;
}

.border {
    border: 1px solid var(--border-color);
}

.button {
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;

    &.add {
        background-color: var(--light-blue);
    }
}