.block-header {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0px;

        .nav-left {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .nav-right {
            display: flex;
            gap: 20px;

            a {
                font-size: 14px;
            }
        }

        .nav-center {
            position: relative;
            display: inline-block;

            .search-icon {
                position: absolute;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
                width: 18px;
                height: 18px;
                color: #555;
            }

            input {
                width: 300px;
                padding: 8px 12px 8px 35px;
                background-color: var(--background-panel);
                border: 1px solid #ccc;
                border-radius: 6px;
                outline: none;

                &:focus {
                    border-color: #007bff;
                }
            }
        }
    }
}