/* Contenedor principal de la pagina */
.block-header,
.block-footer {
    width: 100%;
    padding: 10px;
}

.block-footer {
    padding: 0;
}

/* Contenedor para sidebar + contenido */
.block-main {
    flex: 1;
    display: flex;
}

/* SIDEBAR a la izquierda */
.sidebar {
    width: 20%;
    padding: 10px;
    border-right: 1px solid var(--border-color);
}

.content-companies {
    padding-right: 10px;
}

/* CONTENIDO principal */
.content {
    width: 80%;
    flex: 1;
    padding: 10px;
}

.section-content {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.content-users {
    width: 50%;
    padding-right: 10px;
}

.content-apps {
    width: 50%;
}

.list-app div {
    display: flex;
    align-items: center;
    gap: 10px;
}