.block-sidebar {
    .sidebar-header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 10px 0px;
        margin-bottom: 30px;

        div {
            font-size: 12px;
        }
    }

    ul li:hover {
        background-color: var(--background-hover);
        border-radius: 5px;

    }

    ul li a {
        .sidebar-item {
            display: flex;
            justify-content: space-between;
            padding: 10px 5px;

            div {
                font-size: 12px;
                padding-right: 5px;
            }

            .alias {
                color: var(--purple);
            }

            .name {
                color: var(--text-primary-color);
            }

            .amount {
                color: var(--text-secondary-color);
            }
        }
    }
}