.block-sidebar {
    border-right: 1px solid var(--border-color);

    .sidebar-header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 10px 0px;
        margin-bottom: 30px;

        div {
            font-size: 12px;
        }
    }
}